/* Boilerplate/Essentials */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-height: 100%;
    color: black;
    display: flex;
    flex-direction: column;
}

/* Footer */
footer.container {
    background-color: purple;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin-top: auto;
}

/* Nav Header */
nav.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: purple;
    padding: 15px;
}

ul, a {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    gap: 30px;
    color: white;
    font-size: 18px;
}

h1.logo {
    font-size: 28px;
    color: white;
}

/* Quote */
.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 228, 228);
    padding: 80px;
}