/* Boilerplate/Essentials */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-height: 100%;
    color: black;
    display: flex;
    flex-direction: column;
}

/* Footer */
footer.container {
    background-color: rgb(80, 0, 80);
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-top: auto;
}

/* Nav Header */
nav.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(80, 0, 80);
    padding: 15px;
}

ul, a {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    gap: 30px;
    color: white;
    font-size: 18px;
}

h1.logo {
    font-size: 28px;
    color: white;
}

/* Quote */
.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 90px;
}

.quote-content {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quote p {
    font-size: 25px;
    font-style: italic;
}

.quote h4 {
    display: flex;
    align-self: flex-end;
    margin-right: 50px;
}

/* Ad */
.ad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: purple;
    padding: 30px;
    margin: 80px;
}